@model mayka.Models.MComment

@{
    Layout = "~/Views/Shared/_LayoutAdm.cshtml";
    ViewData["Title"] = "Details";
}

<h2>Отзывы</h2>

<div>
    <h4>Подробно</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Контент
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt>
            Автор
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt>
            Дата
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            Фото
        </dt>
        <dd>
            @if (Model.Img != null)
            {
                <img src="~/Images/@Model.Img" width="100" />
            }
        </dd>
        <dt>
            Опубликованный
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Public)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Изменить</a> |
    <a asp-action="Index">Назад</a>
</div>
